.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

p {
    color: #888;
    margin: 0.25rem 0;
}

.status {
    color: #4a9;
    font-size: 0.875rem;
    margin-top: 2rem;
}
